## modules
node_modules/
vendor/

## IDEs and editors
##### VisualStudioCode
.vscode/
*.code-workspace
.history/  # Local history

##### JetBrains
.idea/

## php-cs-fixer
.php-cs-fixer.cache

## macos
.DS_Store

## environment & logs
.env
*.log