html, body{
 height: 100%;
}
body{
 margin: 0;
 padding: 0;
 background: white;
}
.container {
 width:100%;
 height: 100%;
 min-width: auto;
 display: flex;
}
.image {
 width: 45%;
 float: right;
}
.titre {
 text-align: left;
}
.connect {
 padding: 30px;
 margin-left: 60px;
 margin-top: 50px;
 float: left;
}
#container h1{
 width: 70%;
 float: left;
 margin: 0 auto;
 padding-bottom: 10px;
}

/* Full-width inputs */
input[type=text], input[type=password] {
 width: 100%;
 padding: 12px 20px;
 margin: 8px 0;
 display: inline-block;
 border: 1px solid #ccc;
 box-sizing: border-box;
 border-radius: 10px;
}

/* Set a style for all buttons */
input[type=submit] {
 background-color: skyblue;
 color: white;
 padding: 20px 20px;
 margin: 8px 0;
 border-radius: 30px;
 cursor: pointer;
 width: 30%;
}
input[type=submit]:hover {
 background-color: white;
 color: skyblue;
 border: 2px solid skyblue;
}
a {
 color: inherit;
}
#signup:hover {
 color: skyblue;
}
.caractéristiques {
 color: lightgray;
}