@charset "utf-8";

.site-container {
    max-width: 1400px;
    text-align: center;
    margin: 200px auto 0;
}

.info-text-container {
    font-size: 14px;
    width: 500px;
    text-align: left;
    background: #272727;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    padding: 20px;
    color: #e3e3e3;
    margin: 5px auto 0;
}