*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}
/************ Header *************/
header{
    display:flex;
    flex-direction: row;
    background-color: #fff;
    text-align: center;
  

}
header ul{
    text-decoration: none;
    list-style: none;
    display:flex;
    flex-direction: row;
    padding-top:30px;
    
    
}
#bare_menu ul li a {
    text-decoration: none;
    padding-left: 15px;
    text-align: center;
}
#bare_menu a{
    color:#88CAF0;
}
#bare_menu a:hover{
    color:black;
}

#search_container{
    background-color:rgb(243, 243, 243);
}
#search_bar input{
    padding: 10px;
    
}
.switch_language{
    padding-top: 20px;
}
.connect{
    display:flex;
    flex-direction: row;
    text-align: center;

}
#login{
    border:solid 2px;
    border-color: #88CAF0;
    border-radius:10px;
    width:100px;
    height:50px;
    
}
#signup{
    background-color:#88CAF0;
    border-radius:10px;
    width:100px;
    height:50px;
}



/**************     Footer     *******************/

footer{
    background-color: #88CAF0;
    border-top: 1px solid red;
    padding:10px 0;
    width:100%;
    position:relative;


}
.footer-container{
    color:white;
    margin: auto;
    max-width: 1170px;
    height:250px;
    margin-bottom: 50px;
}

.row{
    display:flex;
    flex-direction: row;

}
.info a{
    color:white;
    margin-left:10px;
    text-decoration: none;
}
.info a:hover{
    color:black;
}